.s8-wheel-meta-boxes-read-out {
	background: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: .75rem 1rem;
	margin-block: .5rem 0;
	display: grid;
	grid-template: auto auto / auto 5em;
	gap: .25rem;
}

.s8-wheel-meta-boxes-read-out > small {
	font-size: 12px;
}

.s8-wheel-meta-boxes-read-out\/value {
	flex-shrink: 0;
	flex-basis: 5em;
}
.s8-wheel-meta-boxes-read-out\/value::before {
	content: '🔴 ';
}
.s8-wheel-meta-boxes-read-out\/value.\&impulsed::before {
	content: '🟢 ';
}

.s8-wheel-meta-boxes-read-out > small:last-child {
	grid-column: span 2;
}