.s8-wheel-meta-boxes-read-out {
	background: #f0f0f0;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: .75rem 1rem;
	margin-block: .5rem 0;
	display: grid;
	grid-template: auto auto / auto minmax(5em, 1fr);
	gap: .25rem;
	align-items: baseline;
}

.s8-wheel-meta-boxes-read-out\/value.components-button {
	gap: .25em;
	font-size: 13px;
}
.s8-wheel-meta-boxes-read-out\/value::before {
	content: '🔴';
}
.s8-wheel-meta-boxes-read-out\/value.\&impulsed::before {
	content: '🟢';
}

.s8-wheel-meta-boxes-read-out > small {
	font-size: 12px;
	grid-column: span 2;
}